body{
    margin: 0px;
}

section{
    padding: 0 18rem;
    font-family: sans-serif;
}

.section-1{
    background-color: black;
}

.bg-img{
    float: right;
    width: 65rem;
}


.info{
    text-align: left;
    padding: 12rem 0;
    z-index: 1;

}

.title-name{
    color:grey;
    font-family: sans-serif;
    font-size: 3rem;
}

.disc{
    color:grey;
    font-family: sans-serif;
    font-size: 0.7rem;
    text-align: left;
}

.intro-button{
    color:grey;
    font-family: sans-serif;
    font-size: 0.6rem;
    float: left;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    margin-right: 0.2rem;
    padding: 0.4rem 0.8rem; 
}

.content{
    margin-top: 8rem;
}

.about{
    padding-left: 4rem;
    color: grey;
    font-size: 1rem;
}

.a-header{
    font-size: 1.2rem;
    color: black;
    margin: 0;
}

.achievements{
    color:grey;
    font-size: 1rem;
}

ul{
    padding-left: 0.7rem;
}